body {
	background-color: #f4eeff;
	font-family: 'Barlow', sans-serif;
}

.matchbtn {
	border-radius: 10px;
	width: 280px;
}

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.box1{
	position: relative;
}

.box2{
	position: absolute;
	width:90%;
	height:200px;
	top:170px;
}

.yesbtn{
	border: solid 1px;
}

.nobtn{
	border: solid 1px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #dcd6f7;
  overflow-x: hidden;
  padding-top: 20px;
}

.logo {
	width:150px;
	margin: 10px;
}

/*Name underline style*/
.btnuser {
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.btnuser :after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #424874;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.btnuser :hover:after {
	color: #424874;
  width: 100%;
  left: 0;
}
.btnuser :hover {
	color: #424874;
}


/* BTN THREE */

.btn-three {
  position: relative;
  color: black;
  width: 256px;
  height: 80px;
  /*line-height: 64px;*/
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.btn-three::before, .btn-three::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-three::before {
  opacity: 0;
  /*background: rgba(255, 255, 255, 0.1);*/
  background: rgba(50,0,150, 0.2);
  transform: scale(1, 0.1);
  border-radius: 10px;
}

.btn-three:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-three::after {
  transition: all 0.3s;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.btn-three:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}